/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
}

.cleafix::after {
    content: '';
    display: block;
    clear: both;
}

/* PAGINA  */
.container {
    width: 1060px;
    margin: 0 auto;
}

.container .row div[class^="col"] {
    float: left;
}

.row .col-2 {
    width: 160px;
}

.row .col-8 {
    width: calc(100% - 160px - 160px);
}

.row .col-4 {
    width: 320px;
}

.row .col-12 {
    width: 100%;
    text-align: center;
}

.button__white {
    background-color: white;
    color: black;
}

.button__black {
    background-color: black;
    color: white;
}

/* HEADER  */
header {
    text-align: center;
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header .header__logo img {
    height: 50px;   
}

header .header__menu li {
    display: inline-block;
}

header .header__menu a {
    color: white;
    margin: 0px 10px;
    line-height: 50px;
}

header .header__button {
    height: 50px;
    padding-top: 6px;
}

.header__button a {
    padding: 10px;
    border-radius: 20px;
    display: block;
    z-index: 10;
}

header .header__jumbo {
    color: white;
}

header .header__jumbo h1 {
    margin-bottom: 40px;
    font-size: 50px;
}

header .header__jumbo p {
    width: 66%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

header .header__jumbo a {
    padding: 15px 20px;
    border-radius: 30px;
    display: inline-block;
    z-index: 10;
    font-size: 18px;
}

header .header__jumbo a:first-of-type {
    margin-right: 10px;
}

/* MAIN  */


/* FOOTER  */
#right {
    float: right;
}









/* DEBUG  */
.debug header {
    padding: 20px;
    border: 1px solid black;
}

.debug main {
    padding: 20px;
    border: 1px solid black;
}

.debug footer {
    padding: 20px;
    border: 1px solid black;
}

.debug .container {
    padding: 20px;
    border: 1px solid red;
}

.debug .row {
    padding: 20px;
    border: 1px solid green;
}

.debug div[class^="col"] {
    padding: 10px;
    border: 1px dashed blue;
}